[user]
	name = Ta-Seen
	email = taseen00.islam@gmail.com

[core]
	editor = nvim
	pager = delta

[commit]
	gpgsign = true

[delta]
	navigate = true
	syntax-theme = Kanagawa

[diff]
	colorMoved = default
	submodule = log

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictStyle = diff3

[pull]
	ff = only

# The contents of this file are included only for GitLab.com URLs
[includeIf "hasconfig:remote.*.url:https://code.research.uts.edu.au/**"]

# Edit this line to point to your alternate configuration file
path = ~/.gitconfig-uts
